@use "/src/sass/base/variables.scss" as *;

.catalog {
    padding-top: 50px;

    &__title {
        margin-top: 60px;
    }

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        row-gap: 13px;
        // width: clamp(340px, 60vw, 460px);
        width: min(460px, 94.45vw);
        column-gap: 50px;
        margin-top: 60px;
        border: 1px solid $dark;
        padding: 13px 25px;
    }

    &__tab {
        position: relative;
        padding: 0;
        border: none;
        background: none;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: $dark;

        &_active::before {
            position: absolute;
            content: "";
            background-color: $dark;
            width: 100%;
            height: 1px;
            bottom: -1px;
        }
    }

    &__content {
        margin-top: 60px;

        &-item {
            flex-direction: column;

        }

        &-wrapper {
            // width: 340px;
            width: min(340px, 94.45vw);
            margin: 25px auto 0 auto;


        }

        &-img {
            object-fit: cover;
            width: 100%;
            height: 198px;
        }

        &-block {
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
            background-color: $Light;
            border: 1px solid $dark;
            border-top: 0;
        }

        &-text {
            padding: 11px 12px 16.5px 12px;
            font-weight: 500;
            font-size: 16px;
            color: $dark;

            p {
                padding-top: 8px;
            }



        }
    }
}

@media screen and (min-width:768px) {
    .catalog {
        &__content {
            padding: 10px;
            position: relative;

            &-item {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;

            }

            &-wrapper {
                margin: 0;
            }
        }

        &__divider {
            &_vertical {
                left: 0;
                top: 0;
                display: block;
                position: absolute;
                background-color: black;
                width: 200px;
                height: 1px;
                transform: rotate(90deg);
                transform-origin: left top;
            }

            &_horizontal {
                left: 0;
                top: 0;
                display: block;
                position: absolute;
                background-color: black;
                width: 200px;
                height: 1px;
            }
        }


    }
}

@media screen and (min-width:1200px) {
    .catalog {
        &__content {
            padding: 25px;

            &-item {
                gap: 35px;

            }
        }
    }
}

@media screen and (min-width:1920px) {

    .catalog {
        &__content {
            &-wrapper {
                width: 285px;
            }

            &-item {
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 83px;
                row-gap: 25px;

            }

            &-img {
                height: 180px;

            }
        }
    }
}