@use "/src/sass/base/variables.scss" as *;

.findus {
    padding-top: 50px;

    &__wrapper {
        margin-top: 60px;

        iframe {
            width: 100%;
            height: 206px;
        }
    }
}

@media screen and (min-width:768px) {
    .findus {
        &__wrapper {
            padding: 0 28px;

            iframe {
                width: 100%;
                height: 400px;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .findus {
        &__wrapper {
            padding: 0 238px;

            iframe {
                width: 100%;
                height: 500px;
            }
        }
    }
}

@media screen and (min-width:1920px) {
    .findus {
        &__wrapper {
            margin-top: 80px;
            padding: 0 297px;

            iframe {
                width: 100%;
                height: 604px;
            }
        }
    }
}