@use "/src/sass/base/animation.scss" as *;

.promo {
    padding-top: 50px;
    position: relative;

    &__wrapper {
        margin-top: 50px;
    }

    &__title {
        padding-inline: 5px;
    }

    &__cta {
        margin-top: 40px;
    }

    &__img {
        width: 270px;
        height: 377px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        margin: 0 auto;
    }

    &__btn {
        margin: 18px auto 0 auto;
    }

    &__potter {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .promo {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__cta {
            margin-top: 0px;
        }

        &__img {
            width: 230px;
            height: 321px;
        }

        &__title {
            padding-inline: 0;
            padding-top: 250px;
            padding-left: 71px;
            text-align: left;
        }
    }
}

@media screen and (min-width:1200px) {
    .promo {
        &__potter {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: clamp(450px, 37.5vw, 640px);
            height: 633px;
            object-fit: cover;
            animation-name: slide;
            animation-duration: 3s;
        }

        &__title {
            padding-inline: 0;
            padding-top: 250px;
            padding-left: 570px;
            text-align: left;
        }

        &__cta {
            animation-name: slideIn;
            animation-duration: 3s;
        }
    }
}






@media screen and (min-width:1920px) {
    .promo {
        padding-top: 40px;

        &__wrapper {
            margin-top: 79px;
        }

        &__img {
            width: 330px;
            height: 460px;
        }

        &__btn {
            margin: 50px auto 0 auto;
        }

        &__title {
            padding-top: 384px;
            padding-left: 640px;
        }

        &__potter {
            width: 640px;
            height: 900px;
        }
    }

}