@use "/src/sass/base/variables.scss" as *;

.touch {
    padding-top: 60px;

    &__form {
        max-width: 340px;
    }

    &__wrapper {
        margin-top: 59px;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: $dark;

        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__check-block {
        margin-top: 20px;
        display: flex;
        align-items: center;

        a {
            color: #A22DC6;
            text-decoration: none;
            padding-left: 2px;
        }
    }

    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }

    &__input {
        width: 100%;
        height: 48px;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        background: #fff;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__textarea {
        width: 100%;
        height: 132px;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        background: #fff;
        resize: none;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__btn {
        margin: 20px 0 0 0;
    }

    &__img {

        &_big {
            display: none;
            width: 550px;
            height: 342px;
            object-fit: cover;
        }

        &_small {
            display: none;
        }

    }
}

@media screen and (min-width:768px) {
    .touch {
        &__wrapper {
            position: relative;
            margin-top: 45px;
            padding-left: 24px;
        }

        &__form {


            width: 300px;
        }

        &__img {
            &_small {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
            }

        }


    }
}

@media screen and (min-width:1200px) {
    .touch {
        &__wrapper {
            margin-top: 80px;
            padding-left: 0;
        }

        &__img {
            &_big {
                display: block;
                width: 550px;
                height: 342px;
                object-fit: cover;
                box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
            }
        }

        &__col {
            padding-left: 20px;
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }
    }
}

@media screen and (min-width:1920px) {
    .touch {
        padding-top: 100px;

        &__fieldset {
            display: flex;
            gap: 45px;
        }

        &__form {
            width: auto;
            padding-left: 147px;
        }

        &__img {
            &_big {
                padding-right: 0px;
                width: 100%;
            }

            &_small {
                right: 65px;
            }
        }

        label,
        textarea {
            width: 300px;
        }
    }
}