@use "/src/sass/base/variables.scss" as *;

.works {
    padding-top: 60px;

    &__slider {
        margin-top: 40px;
    }

    .swiper-slide img {
        width: 100%;
    }

    &__slider-nav {
        display: none;
    }

    .swiper-pagination {
        bottom: -35px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: $dark ;
        border-radius: 0%;
        opacity: 1;
        -webkit-tap-highlight-color: transparent;
    }

    .swiper-pagination-bullet-active {
        background-color: $Ceramic;

    }
}

//смешению pagination за область свайпера препятсвует overflow: hidden . для этого увеличить рабочую зону родителя свайпера и перемещать точки ИЛИ ВЫНЕСТИ ЭЛЕМЕНТЫ В ОДНУ ОБОЛОЧКУ С СВИПЕРОМ
//отсупы свипера нужно регулировать не padding а margin


@media screen and (min-width:768px) {
    .works {
        .swiper-slide img {
            display: block;
            width: 400px;
            margin: 0 auto;
        }

        &__slider {
            margin-top: 45px;
        }
    }
}

@media screen and (min-width:1200px) {
    .works {
        &__wrapper {
            position: relative;
        }

        &__slider {
            margin: 80px 40px 0 40px;
        }


    }

    .swiper-pagination {
        bottom: -30px;
    }

    .works__slider-nav {
        top: 50%;
        transform: translateY(-50%); //смещает элемент на 50% его ширины
        display: block;
        font-size: 21px;
        position: absolute;
        background-color: transparent;
        border: none;
        padding: 0;

        //удаление стилей с кнопок 
        &:before {
            width: auto;
            margin: 0;
        }
    }

    .swiper-slide img {
        width: 100%;
        margin: 0;
    }

    .icon-left-open {
        left: 13px;
    }

    .icon-right-open {
        right: 13px;
    }
}

@media screen and (min-width:1920px) {
    .works {
        padding-top: 100px;

        &__slider {
            margin: 80px 85px 0 85px;
        }
    }

    .icon-left-open {
        left: 40px;
    }

    .icon-right-open {
        right: 40px;
    }
}