@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-default {
    @include button;
    width: 230px;
    height: 50px;
    font-size: 20px;


}

.btn-send {
    @include button;
    width: 220px;
    height: 40px;
    font-size: 16px;
}

.btn-submit {
    @include button;
    width: 90px;
    height: 40px;
    font-size: 16px;
    color: $Light;
    outline: 1px solid $Light;

}

.btn-read {
    @include button;
    width: min(42vw, 145px);
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
}

.btn-send,
.btn-read {
    &:focus {
        border: none;
        color: $dark;
        outline: 1px solid $Ceramic;
    }
}



.btn-send,
.btn-submit {
    &:disabled {
        border: 1px solid $ui-disabled;
        color: $ui-disabled;
    }
}




@media screen and (min-width:1200px) {
    .btn-default {
        &:hover {
            background-color: $dark;
            color: $Light;
        }

        &:active {
            box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
            background: rgba(217, 217, 217, 0.1);
            color: $dark;
            border: none;
        }
    }

    .btn-send,
    .btn-read {
        &:hover {
            border: 1px solid $Ceramic;
            color: $Ceramic;
        }
    }
}

@media screen and (min-width:1920px) {
    .btn-default {
        width: 330px;
        height: 60px;
    }
}